<nav class="navbar navbar-expand-md navbar-light  bg-light">
    <a class="navbar-brand" routerLink="/"><img src="../../../assets/formalab.png" alt="logo formalab" width="100"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-primary my-2 my-sm-0" type="submit" routerLink="/connexion">Connexion</button>
        <button class="btn btn-info my-2 mx-3 my-sm-0" type="submit" routerLink="/inscription">Inscription</button>
        <button class="btn btn-danger my-2 my-sm-0" type="submit" routerlink="/">Deconnexion</button>
      
      </form>
    </div>
  </nav>